@charset "UTF-8";

:root{
    --radius : 4vh;
    --background : rgba(0, 0, 0, .83);
    --inputBackground : rgb(43, 44, 46);
    --clickBackground : rgba(21, 21, 23, .7);
    --clickBackgroundHover : rgb(0,0,0);
    --linkText : rgba(255, 255, 255, .6);
    --linkTextHover : white;
    --transition : all .3s ease;
    --bigTitle : rgba(255, 255, 255, .85);
    --buttonbackground : rgb(1, 68, 113);
    --buttonbackgroundHover : rgb(2, 112, 185);
    --remToVH : 2.8vh;
    --bigtitleBackground : rgba(0,0,0,.8);
} 

::-webkit-scrollbar {
    width: 15px;    
}

::-webkit-scrollbar-track {
    background-color: #2B2B2B;
    border: .3vh solid black;
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background: black;
    box-shadow: inset 0 0 .25vh #fff; 
    
}

/* ::-webkit-scrollbar-thumb:hover {
    background: rgba(26, 26, 26, 0.83);
} */

textarea {
    background-color: var(--inputBackground);
    border-radius: var(--radius);
    border: none;
    outline: none;
    font-size:  calc(1*var(--remToVH));
    padding: 1.5vh calc(1*var(--remToVH)) 1.5vh;
    color:var(--linkTextHover);
    text-align: justify;
    resize: none;
    width: calc(27*var(--remToVH));

}

.box {
    padding: calc(2*var(--remToVH)) calc(2*var(--remToVH)) calc(1.5*var(--remToVH));
    gap: calc(1.8*var(--remToVH));
}

form {
    gap: calc(.8*var(--remToVH));
}

.input-row{
    gap: calc(.5*var(--remToVH));
}

.box h2{
    font-size: calc(2*var(--remToVH));
}

button.submit-login{
    margin: calc(.6*var(--remToVH)) calc(10*var(--remToVH)) 0;
}