/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

:root{
    --radius : 4vh;
    --background : rgba(0, 0, 0, .83);
    --inputBackground : rgb(43, 44, 46);
    --clickBackground : rgba(21, 21, 23, .7);
    --clickBackgroundHover : rgb(0,0,0);
    --linkText : rgba(255, 255, 255, .6);
    --linkTextHover : white;
    --transition : all .3s ease;
    --bigTitle : rgba(255, 255, 255, .85);
    --buttonbackground : rgb(1, 68, 113);
    --buttonbackgroundHover : rgb(2, 112, 185);
    --remToVH : 2.8vh;
    --bigtitleBackground : rgba(0,0,0,.8);
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: "Roboto" sans-serif; */
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    background-color: var(--background);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

.container1,
.container2 {
    /* margin: 10px; */
    margin: 1.5%;
}

.container1,
.container1 ul,
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: inherit;
    gap: 20px;
    font-size:calc(1.1*var(--remToVH));
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    transition: var(--transition);;
    background-color: var(--clickBackground);
    text-decoration: none;
    color: var(--linkText);
}

.logo {
    /* font-size: 1.35calc(2*var(--remToVH)); */
    font-size: calc(1.35*var(--remToVH));
    color: white;
    margin-right: 1vh;
    background-color: var(--clickBackground);
    padding: 1.6vh 3vh;
    border-radius: calc(var(--radius)*2);
}

ul {
    list-style: none;
}

li {
    /* background-color: var(--clickBackground); */
    /* padding: .5calc(2*var(--remToVH)) 1calc(2*var(--remToVH)); */
    border-radius: var(--radius);
    transition: var(--transition);;
}

li a {
    height: calc(2*var(--remToVH));
    padding: 0 calc(1.5*var(--remToVH));
}

.logo:hover,
li a:hover{
    background: var(--clickBackgroundHover);
    color: var(--linkTextHover);
}

button {
    background: var(--buttonbackground);
    border: 0px;
    outline: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: calc(var(--remToVH));
    color: #cecece;
    transition: var(--transition);;
    padding: calc(.5*var(--remToVH)) calc(1*var(--remToVH));
}

button.login:hover,
button.register:hover,
button.logout:hover {
    background: var(--buttonbackgroundHover);
    color: #eeeeee;
}

.rest{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: black; */
}

.box {
    background-color: var(--clickBackground);
    /* background-color: black; */
    padding: calc(1.5*var(--remToVH)) calc(2*var(--remToVH)) calc(3*var(--remToVH));
    /* width: auto; */
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: calc(1.5*var(--remToVH));
}

.box h2{
    font-size: calc(2.4*var(--remToVH));
    color: var(--bigTitle);
    padding-bottom: 1calc(2*var(--remToVH));
}

form {
    display: flex;
    flex-direction: column;
    gap: calc(1.3*var(--remToVH));
}

.input-row{
    display: flex;
    flex-direction: column;
    gap: calc(.6*var(--remToVH));
}

.input-row label{
    padding-left: calc(1*var(--remToVH));
    font-size: calc(1.25*var(--remToVH));
    color: var(--linkText);
}

input{
    background: var(--inputBackground);
    border: none;
    border-radius: var(--radius);
    outline: none;
    width: calc(20*var(--remToVH));
    height: calc(2*var(--remToVH));
    font-size:  calc(1.1*var(--remToVH));
    /* font-weight: 600; */
    padding: 0 calc(1*var(--remToVH));
    color:var(--linkTextHover);
    /* border-bottom: 1.5px solid var(--linkTextHover); */
}

button.submit-login{
    background: var(--buttonbackgroundHover);
    margin: calc(.6*var(--remToVH)) calc(6*var(--remToVH)) 0;
}

button.submit-login:hover{
    background: var(--buttonbackground);
    color: white;
    /* margin: calc(.6*var(--remToVH)) calc(6*var(--remToVH)) 0; */
}
