@charset "UTF-8";

:root{
    --radius : 4vh;
    --background : rgba(0, 0, 0, .83);
    --inputBackground : rgb(43, 44, 46);
    --clickBackground : rgba(21, 21, 23, .7);
    --clickBackgroundHover : rgb(0,0,0);
    --linkText : rgba(255, 255, 255, .6);
    --linkTextHover : white;
    --transition : all .3s ease;
    --bigTitle : rgba(255, 255, 255, .85);
    --buttonbackground : rgb(1, 68, 113);
    --buttonbackgroundHover : rgb(2, 112, 185);
    --remToVH : 2.8vh;
    --bigtitleBackground : rgba(0,0,0,.8);
}  

::-webkit-scrollbar {
    width: 15px;    
}

::-webkit-scrollbar-track {
    background-color: #2B2B2B;
    border: .3vh solid black;
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background: black;
    box-shadow: inset 0 0 .25vh #fff; 
    
}

/* ::-webkit-scrollbar-thumb:hover {
    background: rgba(26, 26, 26, 0.83);
} */


.box h2{
    margin-bottom: 2vh;
}

.box {
    padding: 8.5vh 15vh 10vh;
}

.row{
    display: flex;
    gap: 2vh;
}

.row p {
    font-size: 3vh;
    color: var(--bigTitle);
}

.displayName {
  height: calc(2 * var(--remToVH));
  padding: 2vh;
  background-color: #111214;
  color: #dbdee1;
  border-radius: calc(var(--radius) / 3);
  font-weight: bold;
}

.displayName:hover {
  background-color: white;
  color: black;
}
